body {
    margin:0;
    background-color: beige;
    position:relative;
}
.content {
    padding: 10px;
    font-size: 4vmin;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #fff;
}
#sidebar {
    background-color:#e83313;
    padding: 0px;
    margin: 0px;
    width: 0px;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    top: 5vmax;
    left: 0;
    transition: 0.5s;
    outline: 0;
}
.navlink {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 3vmax;
    display: block;
}
.navlink:hover, .navlink:active, .navlink:focus {
    color: #e83313;
    background-color:#fff;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.barrasup{
    width: 100%;
    background-color: #e83313;
    height: 5vmax;
}
.sidebarbtn {
    display: block;
    height: 5vmax;
    width: 5vmax;
    font-size: 3vmax;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
    outline: 0;
}
.sidebarbtn:hover, .sidebarbtn:active, .sidebarbtn:focus {
    color: #e83313;
    background-color:white;
}
#sottilini {
    margin-top: 20px;
    margin-bottom: 20px;
}
#vuoto {
    background: red;
    color: white;
    width: 300px;
    text-align: center;
    border-width: 0px;
    border-color: rgb(45, 0, 82);
    border-style: solid;
    border-radius: 10px;
}
#premibtn {
    font-size: 4vmin;
}
@media (min-width: 1200px) {
    .wrapper {
        width: 1000px;
        display: flex;
    }
    .barrasup {
        display: none;
    }
    #sidebar {
        width: 200px;
        position: relative;
        top: 0px;
    }
}