body {
    margin:0;
    background-color: beige;
    position:relative;
}
.content {
    margin: 10px;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #fff;
}
main {
    font-size: 2em;
}
#sidebar {
    background-color:#e83313;
    padding: 0px;
    margin: 0px;
    width: 0px;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
}
.navlink {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 30px;
    display: block;
}
.navlink:hover {
    color: #e83313;
    background-color:#fff;
}
.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sidebarbtn {
    height: 40px;
    width: 100%;
    font-size: 30px;
    background-color: #e83313;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 10px;
}
.sidebarbtn:hover {
    color: #e83313;
    background-color:#fff;
}
#sottilini {
    margin-top: 20px;
    margin-bottom: 20px;
}
#vuoto {
    background: red;
    color: white;
    width: 300px;
    text-align: center;
    border-width: 0px;
    border-color: rgb(45, 0, 82);
    border-style: solid;
    border-radius: 10px;
}
@media (min-width: 1200px) {
    .wrapper {
        width: 1000px;
    }
}